* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #004aff;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
  transition: all 0.7s;
}

.app__title {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-bottom: auto;
}

.app__title--color {
  color: #004aff;
  position: absolute;
  top: 24%;
}

.datepicker {
  margin-bottom: auto;
  height: 270px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.7s;
  user-select: none;
}

.datepicker::before {
  content: '';
  position: absolute;
  background-color: whitesmoke;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  height: 38%;
  width: 100%;
  opacity: 0.9;
  pointer-events: none;
}

.datepicker::after {
  content: '';
  position: absolute;
  background-color: whitesmoke;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  height: 38%;
  width: 100%;
  opacity: 0.7;
  pointer-events: none;
}

.datepicker__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.7s;
  width: 100%;
  height: 100%;
  position: relative;
}

.datepicker__column--month,
.datepicker__column--year {
  color: #004aff;
}

.pre,
.before,
.first,
.last,
.previous,
.current,
.next,
.after,
.pra {
  position: absolute;
  font-size: 40px;
  transform: translateY(-50%) scale(0.7);
  padding: 4px;
  transition: all 0.3s;
}

.current {
  top: 50%;
  transform: translateY(-50%) scale(1);
}

.pre {
  top: -30%;
}

.before {
  top: -10%;
}

.previous {
  top: 27%;
}

.first {
  top: 0;
}

.next {
  top: 76%;
}

.last {
  top: 100%;
}

.after {
  top: 110%;
}

.pra {
  top: 130%;
}

span {
  position: absolute;
  transform: translateX(-400px);
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: hotpink;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  z-index: 7;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
